.banner {
  text-align: center;
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-style: italic;
}
.tourdates {
  width: 15%;
  color: white;
  float: left;
  background-color: teal;
}
.failedembed {
  float: right;
  width: 20%
}
.mainbulk {
  text-align: center;
  float: right;
  width: 65%;
  color: salmon;
}
