.banner {
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 20px;
}

.body {
  background-color: black;
  padding: 20px;
  margin: 20px;
  border: 10px green dotted;
}

h1 {
  color: white;
  font-style: italic;
}
.tourdates {
  width: 15%;
  color: white;
  float: left;
  background-color: teal;
}
.failedembed {
  float: right;
  width: 20%
}
.mainbulk {
  text-align: center;
  float: right;
  width: 65%;
  color: salmon;
}

.column {
  width: 300px;
  float: left;
  color: salmon;
}
